.easter-egg {
  position: absolute;
  z-index: 100;
}

/* Top */
.easter-egg.top {
  top: 0px;
  transform: translateY(-100%);
}

.easter-egg.top > img {
  transform: rotate(180deg);
}

/* Bottom */
.easter-egg.bottom {
  bottom: 0px;
  transform: translateY(100%);
}

/* Left */
.easter-egg.left {
  left: 0;
  transform: translateX(-100%);
}

.easter-egg.left > img {
  transform: rotate(90deg);
}

/* Language specific CSS */
.easter-egg.java > img {
  width: 100px;
}

.easter-egg.python > img {
  width: 100px;
}

/* The timing of this animation should be how long it takes the easter egg to
 * animate in, stay visble, and animate out. The delay between iterations is
 * controlled in the JS
 */
.easter-egg.top.show {
  animation: 5s slide-down;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  4% {
    transform: translateY(0);
  }
  96% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.easter-egg.bottom.show {
  animation: 5s slide-up;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  4% {
    transform: translateY(0);
  }
  96% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.easter-egg.left.show {
  animation: 5s slide-in;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  4% {
    transform: translateY(0);
  }
  96% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
